---
layout: default
title: CSU Hurricane Seasonal Forecasting
---
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
{% include realtime.html %}
</head>
<style>
sup {
  font-size: x-small;
}
figure {
  margin: auto;
  text-align: center;
}
figure img {
    vertical-align: top;
}
figure figcaption {
  background-color: white;
  color: black;
  padding: 2px;
  font-size:normal;
  text-align: center;
}

</style>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Colorado State University</p>
						<h2>Seasonal Hurricane Forecasting</h2>
					</header>
				</div>
			</section>


		<!-- Two -->
			<section id="two" class="wrapper style4" style="margin:-40px 0px -40px 0px;">
				<!-- <div class="align-center">
				<ul class="actions" style="text-align:center;line-height:1em;margin:-30px 0 -30px 0px;">
					<li><a href="/Forecast/archive.html" class="button fit" target="_blank" style="text-transform:none;width:700px;"><i class="fas fa-external-link-alt"></i><b> ARCHIVE </b>(TC activity in previous seasons)</a></li>
					<li><a href="/Forecast/resources.html" class="button fit" target="_blank" style="text-transform:none;width:700px;"><i class="fas fa-external-link-alt"></i><b> RESOURCES </b>(our methods & other educational materials)</a></li>
				</ul>
				</div>
				<hr/> -->

				<div id="main" class="container">
				<!-- <div class="inner"> -->
					<div class="box" style="margin:0px -60px 0px -120px;">
				<!-- Two column for twitter feed -->
						<div class="row 200%" style="margin:-30px 0px -30px 0px;">
						<div class="9u 12u$(medium)">
							<header class="align-center">
								<p>Atlantic Seasonal Hurricane Activity</p>
								<h2>Forecast for {{site.data.forecasting.current.year}} Hurricane Activity (as of {{site.data.forecasting.current.fulldate}})</h2>
							</header>

							<!-- Table -->
							<div class="content">
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Forecast Parameters</th>
											<th>CSU Forecast for 2020*</th>
											<th>Average for 1981-2010 </th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Named Storms</td>
											<td>{{site.data.forecasting.current.NS}}</td>
											<td>{{site.data.forecasting.average.NS}}</td>
										</tr>
										<tr>
											<td>Named Storm Days</td>
											<td>{{site.data.forecasting.current.NSD}}</td>
											<td>{{site.data.forecasting.average.NSD}}</td>
										</tr>
										<tr>
											<td>Hurricanes</td>
											<td>{{site.data.forecasting.current.H}}</td>
											<td>{{site.data.forecasting.average.H}}</td>
										</tr>
										<tr>
											<td>Hurricane Days</td>
											<td>{{site.data.forecasting.current.HD}}</td>
											<td>{{site.data.forecasting.average.HD}}</td>
										</tr>
										<tr>
											<td>Major Hurricanes</td>
											<td>{{site.data.forecasting.current.MH}}</td>
											<td>{{site.data.forecasting.average.MH}}</td>
										</tr>
										<tr>
											<td>Major Hurricane Days</td>
											<td>{{site.data.forecasting.current.MHD}}</td>
											<td>{{site.data.forecasting.average.MHD}}</td>
										</tr>
										<tr>
											<td>Accumulated Cyclone Energy+</td>
											<td>{{site.data.forecasting.current.ACE}}</td>
											<td>{{site.data.forecasting.average.ACE}}</td>
										</tr>
										<!-- <tr>
											<td>Net Tropical Cyclone Activity**</td>
											<td>{{site.data.forecasting.average.NTCA}}</td>
											<td>{{site.data.forecasting.current.NTCA}}</td>
										</tr> -->
									</tbody>
									<tfoot>
                    <tr>
                      <td colspan="3" style="font-size: small;">*Total forecast includes Arthur, Bertha, Cristobal, Dolly, Edouard, Fay, Gonzalo, Hanna and Isaias which have formed in the Atlantic as of August 4th.</td>
                    </tr>
										<tr>
											<td colspan="3" style="font-size: small;">+A measure of a named storm’s potential for wind and storm surge destruction defined
												as the sum of the square of a named storm’s maximum wind speed (in 10<sup>4</sup> knots<sup>2</sup>) for each 6-hour
												 period of its existence. </td>
										</tr>
									</tfoot>
								</table>
							</div>



              <p><b>We have increased our forecast and now call for an extremely active 2020 Atlantic hurricane season.</b></p>

              <p>Sea surface temperatures averaged across the tropical Atlantic are much warmer than normal, and vertical wind shear is well below average.
                Current cool neutral ENSO conditions may transition to weak La Niña conditions by later this summer.
                We anticipate an above-normal probability for major hurricanes making landfall along the continental United States coastline and in the Caribbean.
              </p>

							<p>As is the case with all hurricane seasons, coastal
							residents are reminded that it only takes one hurricane making landfall to make it an
							active season for them. They should prepare the same for every season, regardless of
							how much activity is predicted.</p>

							<a href="Forecast/2020-08.pdf" target="_blank" >Read the full document </a>

						</div>
						</div>
						<div class="3u$ 12u$(medium)">
							<a class="twitter-timeline" data-width="320" data-height="1000" data-theme="dark"
							href="https://twitter.com/philklotzbach?ref_src=twsrc%5Etfw">Tweets by philklotzbach</a>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
						</div>
						<hr/>
						<h3 style="text-align:center;">{{site.data.forecasting.current.year}} CSU Tropical Meteorology Project Forecast Schedule</h3>
						<div id="schedule" class="align-center">
							<ul class="actions" style="text-align:center;">
								<li><a href="Forecast/2019-11.pdf" class="button small doubleline special" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Nov 27, 2019) <br>Verification for 2019 </a></li>
								<li><a href="Forecast/2019-12.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Dec 12, 2019) <br>Discussion for 2020 </a></li>
								<li><a href="Forecast/2020-04.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Apr 2, 2020) <br>Forecast for 2020 </a></li>
								<li><a href="Forecast/2020-06.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Jun 4, 2020) <br>Forecast for 2020</a></li>
								<li><a href="Forecast/2020-07.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Jul 7, 2020) <br>Forecast for 2020</a></li>
								<li><a href="Forecast/2020-08.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Aug 5, 2020) <br>Forecast for 2020</a></li>
							</ul>
						</div>
            <h4 style="text-align:center;">Two-week Forecasts of North Atlantic Tropical Cyclone Activity</h4>
            <div id="schedule" class="align-center">
							<ul class="actions" style="text-align:center;">
                <li><a href="Forecast/2020-0805.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Aug 5, 2020) <br>2-week Forecast</a></li>
		<li><a href="Forecast/2020-0819.pdf" class="button small doubleline special fit" target="_blank" style="width:150px;"><i class="fas fa-download"></i> (Aug 19, 2020) <br>2-week Forecast</a></li>
		<li><a href="#" class="button small doubleline alt fit" target="_blank" style="width:150px;"><i class="far fa-pause-circle"></i> (Sep 2, 2020) <br>2-week Forecast</a></li>						
                <li><a href="#" class="button small doubleline alt fit" target="_blank" style="width:150px;"><i class="far fa-pause-circle"></i> (Sep 16, 2020) <br>2-week Forecast</a></li>
                <li><a href="#" class="button small doubleline alt fit" target="_blank" style="width:150px;"><i class="far fa-pause-circle"></i> (Sep 30, 2020) <br>2-week Forecast</a></li>
                <li><a href="#" class="button small doubleline alt fit" target="_blank" style="width:150px;"><i class="far fa-pause-circle"></i> (Oct 14, 2020) <br>2-week Forecast</a></li>
							</ul>
						</div>
					</div>

					</div>
			</section>

			<!-- Three: real-time stat -->
			<section id="three" class="wrapper style3">
				<div id="main" class="container" style="margin-top:-30px;">
			  	<div class="inner" style="margin:-70px 0 0px 0px;">
						<header class="align-center">
							<p>Real-time statistics calculated from operational best tracks of NHC, CPHC and JTWC</p>
							<h2>Real-Time Tropical Cyclone Statistics</h2>
						</header>
						<br>
            <div id="tcmap" style="min-width: 310px; max-width: 800px;  margin:auto;"></div>
            <br>
            <hr>
            <br>
            <h4 class="align-center">Global Tropical Cyclone Activity for 2020 (2020/2021 for the Southern Hemisphere)</h4>
            <h5 class="align-center"> 1981-2010 Climatological Activity Through {{ "now" | date: "%d %B" }} in Parentheses </h4>

            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
              <table id="info" class="alt">
                <thead>
                  <tr>
	                   <th>Basin</th>
	                   <th>Named Storms</th>
	                   <th>Named Storm Days</th>
	                   <th>Hurricanes</th>
	                   <th>Hurricane Days</th>
  	                 <th>Major Hurricanes</th>
	                   <th>Major Hurricane Days</th>
	                   <th>Accumulated Cyclone Energy</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in site.data.tc_stats.globalstats %}
                    {% if row.basin == "Northern Hemisphere" %}
                    <tr>
                      <td><em>{{row.basin}}</em></td>
                      <td><em>{{row.ns}} ({{row.nsclimo}})</em></td>
                      <td><em>{{row.nsd}} ({{row.nsdclimo}})</em></td>
                      <td><em>{{row.h}} ({{row.hclimo}})</em></td>
                      <td><em>{{row.hd}} ({{row.hdclimo}})</em></td>
                      <td><em>{{row.mh}} ({{row.mhclimo}})</em></td>
                      <td><em>{{row.mhd}} ({{row.mhdclimo}})</em></td>
                      <td><em>{{row.ace}} ({{row.aceclimo}})</em></td>
                    </tr>
                      <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% elsif row.basin == "Southern Hemisphere" %}
                    <tr>
                      <td><em>{{row.basin}}</em></td>
                      <td><em>{{row.ns}} ({{row.nsclimo}})</em></td>
                      <td><em>{{row.nsd}} ({{row.nsdclimo}})</em></td>
                      <td><em>{{row.h}} ({{row.hclimo}})</em></td>
                      <td><em>{{row.hd}} ({{row.hdclimo}})</em></td>
                      <td><em>{{row.mh}} ({{row.mhclimo}})</em></td>
                      <td><em>{{row.mhd}} ({{row.mhdclimo}})</em></td>
                      <td><em>{{row.ace}} ({{row.aceclimo}})</em></td>
                    </tr>
                    {% else %}
                    <tr>
                      <td>{{row.basin}}</td>
                      <td>{{row.ns}} ({{row.nsclimo}})</td>
                      <td>{{row.nsd}} ({{row.nsdclimo}})</td>
                      <td>{{row.h}} ({{row.hclimo}})</td>
                      <td>{{row.hd}} ({{row.hdclimo}})</td>
                      <td>{{row.mh}} ({{row.mhclimo}})</td>
                      <td>{{row.mhd}} ({{row.mhdclimo}})</td>
                      <td>{{row.ace}} ({{row.aceclimo}})</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <br>
              <hr>
              <br>
            </div>

            <div id="basin" class="align-center" style="margin:0px -20px">
              <h4 class="align-center">Individual Basin Tropical Cyclone Activity for 2020 (2020/2021 for the Southern Hemisphere)</h4>
							<ul class="actions" style="text-align:center;">
                <li><a class="button small doubleline special" id="btn_atl", onclick="showDiv('btn_atl','atl','eye1','txt1')" style="text-transform:none;width:150px;box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);"><p id="txt1"><i id="eye1" class="fas fa-eye"></i> North Atlantic</p></a></li>
      					<li><a href="#nwp" class="button small doubleline alt" id="btn_nwp", onclick="showDiv('btn_nwp','nwp','eye2','txt2')" style="text-transform:none;width:150px;"><p id="txt2"><i id="eye2" class="fas fa-eye-slash"></i> Northwest Pacific </p></a></li>
      					<li><a href="#nep" class="button small doubleline alt" id="btn_nep", onclick="showDiv('btn_nep','nep','eye3','txt3')" style="text-transform:none;width:150px;"><p id="txt3"><i id="eye3" class="fas fa-eye-slash"></i> Northeast Pacific </p></a></li>
      					<li><a href="#ni" class="button small doubleline alt" id="btn_ni", onclick="showDiv('btn_ni','ni','eye4','txt4')" style="text-transform:none;width:150px;"><p id="txt4"><i id="eye4" class="fas fa-eye-slash"></i> North Indian </p></a></li>
      					<li><a href="#sp" class="button small doubleline alt" id="btn_sp", onclick="showDiv('btn_sp','sp','eye5','txt5')" style="text-transform:none;width:150px;"><p id="txt5"><i id="eye5" class="fas fa-eye-slash"></i> South Pacific </p></a></li>
                <li><a href="#si" class="button small doubleline alt" id="btn_si", onclick="showDiv('btn_si','si','eye6','txt6')" style="text-transform:none;width:150px;"><p id="txt6"><i id="eye6" class="fas fa-eye-slash"></i> South Indian </p></a></li>
							</ul>
						</div>
						<br>
            <div class="inner" id="atl" style="margin-top:-20px">
              <div class="content">
              <h4 class="align-center">Real-Time North Atlantic Ocean Statistics by Storm for 2020</h4>
              <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
              <table id="atl_table" class="alt">
                <thead>
                  <tr>
                    <th>Storm #</th>
                    <th>Name</th>
                    <th>Active Dates</th>
                    <th>Intensity<br>(kts)</th>
                    <th>MSLP<br>(hPa)</th>
                    <th>Named<br>Storm<br>Days</th>
                    <th>Hurricane<br>Days</th>
                    <th>Major<br>Hurricane<br>Days</th>
                    <th>Accumulated<br>Cyclone<br>Energy</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in site.data.tc_stats.atlanticstormstats %}
                <tr>
                  <td>{{row.storm_number}}</td>
                  <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=al{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                  <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                  <td>{{row.intensity}}</td>
                  <td>{{row.mslp}}</td>
                  <td>{{row.nsd}}</td>
                  <td>{{row.hd}}</td>
                  <td>{{row.mhd}}</td>
                  <td>{{row.ace}}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
                <div name="realtime" id="atl_ace" style="width:1000px; margin:auto;"></div>
                <br>
            </div></div>

            <div class="inner" id="nwp" style="display:none">
            <div class="content">
            <h4 class="align-center">Real-Time Northwest Pacific Ocean Statistics by Storm for 2020</h4>
            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
            <table id="nwp_table" class="alt">
              <thead>
                <tr>
                  <th>Storm #</th>
                  <th>Name</th>
                  <th>Active Dates</th>
                  <th>Intensity<br>(kts)</th>
                  <th>MSLP<br>(hPa)</th>
                  <th>Named<br>Storm<br>Days</th>
                  <th>Hurricane<br>Days</th>
                  <th>Major<br>Hurricane<br>Days</th>
                  <th>Accumulated<br>Cyclone<br>Energy</th>
                </tr>
              </thead>
              <tbody>
              {% for row in site.data.tc_stats.northwestpacificstormstats %}
              <tr>
                <td>{{row.storm_number}}</td>
                <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=wp{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                <td>{{row.intensity}}</td>
                <td>{{row.mslp}}</td>
                <td>{{row.nsd}}</td>
                <td>{{row.hd}}</td>
                <td>{{row.mhd}}</td>
                <td>{{row.ace}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
              <div name="realtime" id="nwp_ace" style="width:1000px; margin:auto;"></div>
              <br>
            </div></div>

            <div class="inner" id="nep" style="display:none">
            <div class="content">
            <h4 class="align-center">Real-Time Northeast Pacific Ocean Statistics by Storm for 2020</h4>
            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
            <table id="nep_table" class="alt">
              <thead>
                <tr>
                  <th>Storm #</th>
                  <th>Name</th>
                  <th>Active Dates</th>
                  <th>Intensity<br>(kts)</th>
                  <th>MSLP<br>(hPa)</th>
                  <th>Named<br>Storm<br>Days</th>
                  <th>Hurricane<br>Days</th>
                  <th>Major<br>Hurricane<br>Days</th>
                  <th>Accumulated<br>Cyclone<br>Energy</th>
                </tr>
              </thead>
              <tbody>
              {% for row in site.data.tc_stats.northeastpacificstormstats %}
              <tr>
                <td>{{row.storm_number}}</td>
                <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=ep{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                <td>{{row.intensity}}</td>
                <td>{{row.mslp}}</td>
                <td>{{row.nsd}}</td>
                <td>{{row.hd}}</td>
                <td>{{row.mhd}}</td>
                <td>{{row.ace}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table></div>
              <div name="realtime" id="nep_ace" style="width:1000px; margin:auto;"></div>
              <br>
            </div></div>

            <div class="inner" id="ni" style="display:none">
            <div class="content">
            <h4 class="align-center">Real-Time North Indian Ocean Statistics by Storm for 2020</h4>
            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
            <table id="ni_table" class="alt">
              <thead>
                <tr>
                  <th>Storm #</th>
                  <th>Name</th>
                  <th>Active Dates</th>
                  <th>Intensity<br>(kts)</th>
                  <th>MSLP<br>(hPa)</th>
                  <th>Named<br>Storm<br>Days</th>
                  <th>Hurricane<br>Days</th>
                  <th>Major<br>Hurricane<br>Days</th>
                  <th>Accumulated<br>Cyclone<br>Energy</th>
                </tr>
              </thead>
              <tbody>
              {% for row in site.data.tc_stats.northindianstormstats %}
              <tr>
                <td>{{row.storm_number}}</td>
                <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=io{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                <td>{{row.intensity}}</td>
                <td>{{row.mslp}}</td>
                <td>{{row.nsd}}</td>
                <td>{{row.hd}}</td>
                <td>{{row.mhd}}</td>
                <td>{{row.ace}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table></div>
              <div name="realtime" id="ni_ace" style="width:1000px; margin:auto;"></div>
              <br>
            </div></div>

            <div class="inner" id="sp" style="display:none">
            <div class="content">
            <h4 class="align-center">Real-Time South Pacific Ocean Statistics by Storm for 2020</h4>
            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
            <table id="sp_table" class="alt">
              <thead>
                <tr>
                  <th>Storm #</th>
                  <th>Name</th>
                  <th>Active Dates</th>
                  <th>Intensity<br>(kts)</th>
                  <th>MSLP<br>(hPa)</th>
                  <th>Named<br>Storm<br>Days</th>
                  <th>Hurricane<br>Days</th>
                  <th>Major<br>Hurricane<br>Days</th>
                  <th>Accumulated<br>Cyclone<br>Energy</th>
                </tr>
              </thead>
              <tbody>
              {% for row in site.data.tc_stats.southpacificstormstats %}
              <tr>
                <td>{{row.storm_number}}</td>
                <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=sh{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                <td>{{row.intensity}}</td>
                <td>{{row.mslp}}</td>
                <td>{{row.nsd}}</td>
                <td>{{row.hd}}</td>
                <td>{{row.mhd}}</td>
                <td>{{row.ace}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table></div>
              <div name="realtime" id="sp_ace" style="width:1000px; margin:auto;"></div>
              <br>
            </div></div>

            <div class="inner" id="si" style="display:none">
            <div class="content">
            <h4 class="align-center">Real-Time South Indian Ocean Statistics by Storm for 2020</h4>
            <div class="table-wrapper" style="width:1000px;overflow:auto;margin-left:auto;margin-right:auto;">
            <table id="si_table" class="alt">
              <thead>
                <tr>
                  <th>Storm #</th>
                  <th>Name</th>
                  <th>Active Dates</th>
                  <th>Intensity<br>(kts)</th>
                  <th>MSLP<br>(hPa)</th>
                  <th>Named<br>Storm<br>Days</th>
                  <th>Hurricane<br>Days</th>
                  <th>Major<br>Hurricane<br>Days</th>
                  <th>Accumulated<br>Cyclone<br>Energy</th>
                </tr>
              </thead>
              <tbody>
              {% for row in site.data.tc_stats.southindianstormstats %}
              <tr>
                <td>{{row.storm_number}}</td>
                <td style="background-color:white;opacity: 0.6"><a href="https://rammb-data.cira.colostate.edu/tc_realtime/storm.asp?storm_identifier=sh{{row.storm_charnumber}}{{row.year}}">{{row.name}}</a></td>
                <td>{{row.start_month}}/{{row.start_day}} - {{row.end_month}}/{{row.end_day}} {{row.year}}</td>
                <td>{{row.intensity}}</td>
                <td>{{row.mslp}}</td>
                <td>{{row.nsd}}</td>
                <td>{{row.hd}}</td>
                <td>{{row.mhd}}</td>
                <td>{{row.ace}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table></div>
              <div name="realtime" id="si_ace" style="width:1000px; margin:auto;"></div>
              <br>
            </div></div>

            <br>
						<p>North Atlantic Ocean storm statistics were last modified: {{ "now" | date: "%H:%M MDT %Y-%m-%d" }}. Statistics calculated from global repository data graciously provided by NCAR RAL Tropical Cyclone Guidance Project.</p>
					</div>
				</div>
				</section>

        <!-- Four: archive and resources -->
          <section id="four" class="wrapper style2">
            <div class="inner">
    					<div class="gallery" style="margin:-40px 0px -40px 0px;">
    						<div>
    							<div class="image fit">
    								<a href="/archive.html"><img src="images/forecast/archive.png" alt="" style="filter:brightness(30%)"/></a>
    								<div class="centered-above"><a href="/archive.html"><h2 style="color:white;"><i class="fas fa-external-link-alt"></i> ARCHIVE</h2></a></div>
                    <div class="centered-below"><p> <a href="/archive.html" style="color:white">CLICK HERE</a> to learn more about the TC activity in previous seasons</p></div>
    							</div>
    						</div>
    						<div>
    							<div class="image fit">
    								<a href="/resources.html"><img src="images/forecast/resources2.png" alt="" style="filter:brightness(40%)"/></a>
                    <div class="centered-above"><a href="/resources.html"><h2 style="color:white;"><i class="fas fa-external-link-alt"></i> RESOURCES</h2></a></div>
    								<div class="centered-below"><p><a href="/resources.html" style="color:white">CLICK HERE</a> to learn more about <br> our methods & other educational materials including FAQs</p></div>
    							</div>
    						</div>
    					</div>
    				</div>
          </section>

			<!-- Five: factors -->
			<section id="four" class="wrapper style2">
				<div id="main" class="container" style="margin-top:-20px;">

					<div class="inner" style="margin:-70px 0px -40px 0px;">
					<div class="box">
						<div class="inner" style="margin-left:50px;margin-right:50px;">
							<br>
						<header class="align-center">
							<p>DESCRIPTION OF CLIMATE FACTORS INFLUENCING ATLANTIC HURRICANE ACTIVITY</p>
							<h2>Forecast Factors</h2>
						</header>
						{% include forecasting_factors.html %}
						<br><br>
						<a href="/resources.html#faq" class="button small alt fit">Learn More (FAQs)</a>
						<br>
						</div>
					</div>
					</div>
				</div>

			</section>
