---
layout: default
title: Publications
---
<style>
.box header h2 {
                        margin-bottom: 0rem;
                }

.special header h2 + p {
								                font-size: 1.25rem;
								                margin-top: -15rem;
								        }
.button-space{

	border-radius: 3px 3px 3px 3px;
	line-height: 5rem;
}

.select-wrapper {
                text-decoration: none;
                display: block;
                position: absolute;
								left: 1000px;
        }

</style>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Colorado State University Tropical Weather and Climate Research</p>
						<h2>Refereed Publications</h2>
					</header>
				</div>
			</section>

			<!-- Two -->
				<section id="two" class="wrapper style2">
					<div class="inner">
						<div class="box">
							<div class="content">

								<header class="align-center special">
									<!--p class="special">Full list of publications</p-->
									<h2>Full list of publications</h2>
								</header>
								<div class="2u 12u$(xsmall)">
									<div class="select-wrapper">
										<select name="category" id="category" onchange="window.open(category.value,'newtab')">
											<option value="#">- Author -</option>
											<option value="bell.html">Michael M. Bell</option>
											<option value="klotzbach.html">Phil Klotzbach</option>
											<option value="1">Dandan Tao</option>
											<option value="1">Jennifer C. DeHart</option>
											<option value="cha.html">Ting-Yu Cha</option>
										</select>
									</div>
								</div>

								<div class="content">
                  <h3>2020</h3>
                  {% for entry in site.data.list_long %}
                  {% if entry.year == "2020"%}
                  <ul>
                    <li style="margin-botton: 10px;"> {{ entry.authors}}, {{entry.year}}: <a href="{{ entry.url }}"> {{ entry.title }}. </a> <i>{{ entry.journal }}</i>, {{ entry.others }}, {{ entry.doi }}</li>
                  </ul>
                  {% endif %}
                  {% endfor %}

                  <h3>2019</h3>
                  {% for entry in site.data.list_long %}
                  {% if entry.year == "2019"%}
                  <ul>
                    <li style="margin-botton: 10px;"> {{ entry.authors}}, {{entry.year}}: <a href="{{ entry.url }}"> {{ entry.title }}. </a> <i>{{ entry.journal }}</i>, {{ entry.others }}, {{ entry.doi }}</li>
                  </ul>
                  {% endif %}
                  {% endfor %}

                  <h3>2018</h3>
                  {% for entry in site.data.list_long %}
                  {% if entry.year == "2018"%}
                  <ul>
                    <li style="margin-botton: 10px;"> {{ entry.authors}}, {{entry.year}}: <a href="{{ entry.url }}"> {{ entry.title }}. </a> <i>{{ entry.journal }}</i>, {{ entry.others }}, {{ entry.doi }}</li>
                  </ul>
                  {% endif %}
                  {% endfor %}

                  <h3>2017</h3>
                  {% for entry in site.data.list_long %}
                  {% if entry.year == "2017"%}
                  <ul>
                    <li style="margin-botton: 10px;"> {{ entry.authors}}, {{entry.year}}: <a href="{{ entry.url }}"> {{ entry.title }}. </a> <i>{{ entry.journal }}</i>, {{ entry.others }}, {{ entry.doi }}</li>
                  </ul>
                  {% endif %}
                  {% endfor %}


								</div>
							</div>
						</div>
					</div>
				</section>
