---
layout: default_group
title: CSU Tropical Research Team
---
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
</head>


		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Colorado State University</p>
						<h2>Team Members</h2>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main" class="container"  style="width:90%">

				<!--1) Element: Group photo -->
						<div class="box">
							<header class="align-center">
								<p class="speciial"><b>Group Photos</b></p>
							</header>
							<br>
							<div class="slideshow-container">
							<div class="mySlides fade">
							  <div class="numbertext" style="font-size:larger;">1 / 4</div>
							  <img src="Group/Group_2023_Copper.jpg" style="width:100%;height:auto;" alt="Group photo 4">
							  <div class="text" style="font-size:medium;">October 2023 (left to right) Angelie, Phil, Delian, Nick, Michael, Isaac, Jen, Alex, Chelsea, and Tyler (with Michael's dog, Cooper)</div>
							</div>


							<div class="mySlides fade">
							  <div class="numbertext" style="font-size:larger;">2 / 4</div>
							  <img src="Group/Group_2022Christmas.jpeg" style="width:100%;height:auto;" alt="Group photo 1">
							  <div class="text" style="font-size:medium;">December 2022 (left to right) Alex, Rung, Tyler, Jen, Chelsea, Angelie, Ting-Yu, and Michael</div>
							</div>


							<div class="mySlides fade">
							  <div class="numbertext" style="font-size:larger;">3 / 4</div>
							  <img src="Group/Group_2021Oct_compressed.jpeg" style="width:100%;height:auto;" alt="Group photo 2">
							  <div class="text" style="font-size:medium;">October 2021 (left to right) Michael, Ali, Chelsea, Alex, Ting-Yu, Phil, Tyler, Chandra, Rung, Ellie, and Jen</div>
							</div>

							<div class="mySlides fade">
							  <div class="numbertext" style="font-size:larger;">4 / 4</div>
							  <img src="Group/Group_2020Jan_compressed.jpeg" style="width:100%;height:auto;" alt="Group photo 3">
							  <div class="text" style="font-size:1em;">January 2020 (left to right) Naufal, Jen, Alex, Chelsea, Ellie, Jon, Ali, Ting-Yu, Dandan, Kate, Brianna, Chandra, Rung, Jhordanne, and Michael</div>
							</div>





							<!-- Next and previous buttons -->
							  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							  <a class="next" onclick="plusSlides(1)">&#10095;</a>
							</div>
							<br>

							<!-- The dots/circles -->
							<div style="text-align:center">
							  <span class="dot" onclick="currentSlide(1)"></span>
							  <span class="dot" onclick="currentSlide(2)"></span>
							  <span class="dot" onclick="currentSlide(3)"></span>
								<span class="dot" onclick="currentSlide(4)"></span>
							</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
</div>
<br>
				<!--2) Element: Thumbnails -->
					<header class="align-center">
              <p><b>Please click the photo to find more info about each member</b></p>
              </header>
              <div class="box alt">
						<div class="row 10% uniform">
							<div class="1u"><span class="image fit">
								<figure>
								<img src="Group/blank.jpg" alt="" />
								</figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<img src="Group/blank.jpg" alt="" />
								</figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#bell"><img src="Group/michael.jpg" alt="" /></a>
								<figcaption><b>Michael Bell,</b><br> Professor</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#klotzbach"><img src="Group/phil.jpg" alt="" /></a>
								<figcaption><b>Phil Klotzbach,</b><br>Senior Research Scientist</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#dolan"><img src="Group/dolan.jpeg" alt="" /></a>
								<figcaption><b>Brenda Dolan,</b><br> Research Scientist III</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#dehart"><img src="Group/jen.jpg" alt="" /></a>
								<figcaption><b>Jen DeHart,</b><br> Research Scientist II</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#silvers"><img src="Group/LeviSilversPortraitSquare.jpg" alt="" /></a>
								<figcaption><b>Levi Silvers,</b><br> Research Scientist II</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#barbero"><img src="Group/tyler.jpg" alt="" /></a>
								<figcaption><b>Tyler Barbero,</b><br> Ph.D. Candidate</figcaption></figure></span></div>
							<div class="1u$"><span class="image fit">
								<figure>
								<a href="#colon-burgos"><img src="Group/delian.jpeg" alt="" /></a>
								<figcaption><b>Delián Colón-Burgos,</b><br> M.S. Student</figcaption></figure></span></div>
<!-- thumbnail 2nd row -->
							<div class="1u"><span class="image fit">
								<figure>
								<img src="Group/blank.jpg" alt="" />
								</figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<img src="Group/blank.jpg" alt="" />
								</figure></span></div>

							<div class="1u"><span class="image fit">
								<figure>
								<a href="#mesa"><img src="Group/nick.jpg" alt="" /></a>
								<figcaption><b>Nick Mesa,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#nieves-jimenez"><img src="Group/AngelieHeadShotSquare.jpg" alt="" /></a>
								<figcaption><b>Angelie Nieves-Jiménez,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#panasawatwong"><img src="Group/rung.jpg" alt="" /></a>
								<figcaption><b>Rung Panasawat-wong,</b><br> Ph.D. Candidate</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#schluesche"><img src="Group/isaac.jpg" alt="" /></a>
								<figcaption><b>Isaac Schluesche,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#jenkins"><img src="Group/ChandlerJenkinsSquare.png" alt="" /></a>
								<figcaption><b>Chandler "CJ" Jenkins,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#beard"><img src="Group/LaurenBeard.jpeg" alt="" /></a>
								<figcaption><b>Lauren Beard,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u"><span class="image fit">
								<figure>
								<a href="#stell"><img src="Group/MeghanStell.jpg" alt="" /></a>
								<figcaption><b>Meghan Stell,</b><br> M.S. Student</figcaption></figure></span></div>
							<div class="1u$"><span class="image fit">
								<figure>
								<a href="#alumni"><img src="Group/alumni_cat.jpg" alt="" /></a>
								</figure></span></div>
						 </div>

                                        </div>

<br><br>
				<!--3) Element: Intro paragraph  -->

        <div class="box">
          <div class="content">
            <header class="align-center">
              <p><b>Brief intro of each member</b></p>
            </header>
      <br>
            <h4 id="elements" style="margin: 0px -20px">PRINCIPAL INVESTIGATOR</h4>
            <br>
                {% for org_hash in site.data.member.PI %}
                {% assign org = org_hash[1] %}
                <div id="container" style="margin: 0px 0px">
                <h2 id= {{ org.id }} > {{ org.name }} &nbsp;  </h2>
                <ul class="actions"><a href={{ org.email }} class="button alt small"  target="_blank"><i class="fas fa-envelope-square"></i> Email</a></ul>
                <ul class="actions"><a href={{ org.github }} class="button alt small"  target="_blank"><i class="fab fa-github"></i> GitHub</a></ul>
                <ul class="actions"><a href={{ org.webpage }} class="button alt small" target="_blank"><i class="fas fa-link"></i> Webpage</a></ul>
                <ul class="actions"><a href={{ org.twitter }} class="button alt small" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></ul>
                <ul class="actions"><a href="/member_publication/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Publications </a></ul>
                <ul class="actions"><a href="/member_research/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Research </a></ul>
                </div>
                <span class="image left"><img src= {{ org.photo }} alt="headshot" style="float:left;width:150px;height:150px;margin:10px" /></span>
                <p class="align-justify"> {{ org.bio }}</p>
                <br><br>
                {% endfor %}
            <hr />
            <br>

            <h4 id="elements" style="margin: 0px -20px">RESEARCH SCIENTISTS</h4>
            <br>
                {% for org_hash in site.data.member.RS%}
                {% assign org = org_hash[1] %}
                <div id="container" style="margin: 0px 0px">
                <h2 id= {{ org.id }} > {{ org.name }} &nbsp;&nbsp;</h2>
                <ul class="actions"><a href={{ org.email }} class="button alt small"  target="_blank"><i class="fas fa-envelope-square"></i> Email</a></ul>
                {% if  org.github  != false %}<ul class="actions"><a href={{ org.github }} class="button alt small"  target="_blank"><i class="fab fa-github"></i> GitHub</a></ul>{% endif %}
                {% if  org.webpage  != false %}<ul class="actions"><a href={{ org.webpage }} class="button alt small"  target="_blank"><i class="fas fa-link"></i> Webpage </a></ul>{% endif %}
                {% if  org.twitter  != false %}<ul class="actions"><a href={{ org.twitter }} class="button alt small"  target="_blank"><i class="fab fa-twitter"></i> Twitter </a></ul>{% endif %}
                <ul class="actions"><a href="/member_publication/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Publications </a></ul>
                <ul class="actions"><a href="/member_research/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Research </a></ul>
                </div>
                <span class="image left"><img src= {{ org.photo }} alt="headshot" style="float:left;width:150px;height:150px;margin:10px" /></span>

                <p class="align-justify"> {{ org.bio }}</p>
                <br><br>

                {% endfor %}
            <br>
            <hr />

            <br>

            <h4 id="elements" style="margin: 0px -20px">GRADUATE STUDENTS</h4>
            <br>
                {% for org_hash in site.data.member.students%}
                {% assign org = org_hash[1] %}
                <div id="container" style="margin: 0px 0px">
                <h2 id= {{ org.id }} > {{ org.name }} &nbsp;</h2>
                <ul class="actions"><a href={{ org.email }} class="button alt small"  target="_blank"><i class="fas fa-envelope-square"></i> Email</a></ul>
                {% if  org.github  != false %}<ul class="actions"><a href={{ org.github }} class="button alt small"  target="_blank"><i class="fab fa-github"></i> GitHub</a></ul>{% endif %}
                {% if  org.webpage  != false %}<ul class="actions"><a href={{ org.webpage }} class="button alt small" target="_blank"><i class="fas fa-link"></i> Webpage </a></ul>{% endif %}
                {% if  org.twitter  != false %}<ul class="actions"><a href={{ org.twitter }} class="button alt small" target="_blank"><i class="fab fa-twitter"></i> Twitter </a></ul>{% endif %}
                <ul class="actions"><a href="/member_publication/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Publications </a></ul>
                <ul class="actions"><a href="/member_research/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Research </a></ul>
                </div>
                <span class="image left"><img src= {{ org.photo }} alt="headshot" style="float:left;width:150px;height:150px;margin:10px" /></span>

                <p class="align-justify"> {{ org.bio }}</p>
                <br><br>

                {% endfor %}
            <br>
            <hr />



            <!-- <h4 id="elements" style="margin: 0px -20px">RESEARCH ASSOCIATES</h4>
            <br>
                {% for org_hash in site.data.member.RA%}
                {% assign org = org_hash[1] %}
                <div id="container" style="margin: 0px 0px">
                <h2 id= {{ org.id }} > {{ org.name }} &nbsp;&nbsp; </h2>
                <ul class="actions"><a href={{ org.email }} class="button alt small" target="_blank"><i class="fas fa-envelope-square"></i> Email</a></ul>
                {% if  org.github  != false %}<ul class="actions"><a href={{ org.github }} class="button alt small" target="_blank"><i class="fab fa-github"></i> GitHub</a></ul>{% endif %}
                {% if  org.webpage  != false %}<ul class="actions"><a href={{ org.webpage }} class="button alt small" target="_blank"><i class="fas fa-link"></i> Webpage </a></ul>{% endif %}
                {% if  org.twitter  != false %}<ul class="actions"><a href={{ org.twitter }} class="button alt small" target="_blank"><i class="fab fa-twitter"></i> Twitter </a></ul>{% endif %}
                <ul class="actions"><a href="/member_publication/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Publication </a></ul>
                <ul class="actions"><a href="/member_research/{{org.id}}.html" class="button alt small"  target="_blank"><i class="fas fa-link"></i> Research </a></ul>
                </div>
                <span class="image left"><img src= {{ org.photo }} alt="headshot" style="float:left;width:150px;height:150px;margin:10px" /></span>

                <p class="align-justify"> {{ org.bio }}</p>
                <br>
                {% endfor %}
            <br>
            <hr /> -->

            <br>

          <header class="align-center">
            <p id="alumni"><b>Group Alumni/ Past Members</b></p>
          </header>
            <br>
            {% for org_hash in site.data.member.alumni %}
            {% assign org = org_hash[1] %}

						<div id="container" style="margin: 0px 0px">
						<h2> {{ org.name }}  &nbsp; </h2>
						<ul class="actions"><a href={{ org.email }} class="button alt small"  target="_blank"><i class="fas fa-envelope-square"></i> Email</a></ul>
						<ul class="actions"><a href={{ org.github }} class="button alt small"  target="_blank"><i class="fab fa-github"></i> GitHub</a></ul>
						<ul class="actions"><a href={{ org.webpage }} class="button alt small" target="_blank"><i class="fas fa-link"></i> Webpage</a></ul>
						<ul class="actions"><a href={{ org.twitter }} class="button alt small" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></ul>
						</div>
            <li>{{org.time}}</li>
            {% if  org.thesis  != false %}<li>Thesis: {{org.thesis}} </li>{% endif %}
            <li>Current Affilation: {{org.job}}</li>


            <br><br>
            {% endfor %}

              <br><br><br><br>






      </div>
   </div>
</div>
