<html>
<head>
<style>
figure {
  margin: auto;
  text-align: center;
}
figure img {
    vertical-align: top;
}
figure figcaption {
  background-color: white;
  color: black;
  padding: 2px;
  font-size:small;
  text-align: left;
}
</style>
</head>
<figure style="width:300px;float:right;margin:0px 20px">
  <img src="/images/forecast/grayklotzbach_2014-1.jpg" alt="" style="width:300px"/>
  <figcaption>Phil Klotzbach (left) and Bill Gray (right) in January 2014</figcaption>
</figure>

<p>Dr. Gray passed away on April 16, 2016. He spent over 60 years in the field of meteorology and made vast contributions in the field of tropical cyclone research. Not only was he a phenomenal scientist, he was an excellent advisor to his 80+ graduate students, an amazing mentor and a great friend. </p>

<p>If you want to read more about Dr. Gray:

<li><a href="/Forecast/obituary_bams.pdf" target="_blank">A formal obituary for Dr. Gray</a> published in <i>the Bulletin of the American Meteorological Society.</i></li>
<li><a href="/Forecast/legacy_bams.pdf" target="_blank">A paper on Dr. Gray’s research legacy</a> published in <i>the Bulletin of the American Meteorological Society.</i></li>
<li><a href="/Forecast/gray-1962.pdf" target="_blank">Dr. Gray’s first peer-reviewed journal article</a> in 1962 published in <i>the Quarterly Journal of the Royal Meteorological Society.</i></li>
<li><a href="/Forecast/gray_1979.pdf" target="_blank">Dr. Gray's classic paper on genesis</a> in 1979 entitled "Hurricanes: their formation, structure and likely role in the tropical circulation" as part of the book of <i>Meteorology Over the Tropical Oceans.</i></li>
<br>
<li><a href="/Forecast/eulogy.pdf" target="_blank">A eulogy for Dr. Gray</a> written by Phil Klotzbach</li>
<li><a href="https://www.washingtonpost.com/news/capital-weather-gang/wp/2016/04/22/a-lighter-shade-of-gray/" target="_blank">‘A Lighter Shade of Gray’,</a> A piece on the unique and humorous characteristics of Dr. Gray published in <i>the Washington Post’s Capital Weather Gang</i> written by Phil Klotzbach and fellow CSU alum Brian McNoldy. </li>
<br>
<li>Tropical Meteorology Project Blue Books - Project Reports by Dr. William Gray and his students </li>

</p>
</html>
