<html>
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
</head>

<h3>Book Chapters</h3>
<ul><li style="margin-bottom: 10px;">Klotzbach, P. J., M. A. Saunders, G. D. Bell, and E. S. Blake, 2017: <a href=../Publications/bookchapters/klotzbach_et_al_2017.pdf> North Atlantic seasonal hurricane prediction: Underlying science and an evaluation of statistical models. </a> Chapter 19 in Climate Extremes: Patterns and Mechanisms, S. Wang et al., Eds., 14 pp, AGU monograph. </li></ul>
<ul><li style="margin-bottom: 10px;">Klotzbach, P. J., A. Barnston, G. D. Bell, S. Camargo, J. C. L. Chan, A. Lea, M. Saunders, and F. Vitart, 2015: <a href=../Publications/bookchapters/klotzbach_et_al_2015.pdf>Seasonal forecasting of tropical cyclones. </a> Chapter in Global Guide to Tropical Cyclone Forecasting, C. Guard, Ed., 28 pp. </li></ul>
<ul><li style="margin-bottom: 10px;">Aberson, S. D., J. Cione, C.-C. Wu, M. M. Bell, J. Halverson, C. Fogarty, and M. Weissmann, 2010: Aircraft used to observe tropical cyclones. Chapter in "Global Perspectives on Tropical Cyclones", World Scientific, Johnny Chan, Ed., 448 pp.</li></ul>

<h3>Bulletin of the AMS State of the Climate Sidebars</h3>
<ul><li style="margin-bottom: 10px;"> Klotzbach, P. J., 2019: <a href="../Publications/sidebars/klotzbach_2019.pdf">Hurricane Michael: A Florida Panhandle record-breaking hurricane. </a> Bull. Amer. Meteor. Soc., 100, S119-S120. </li></ul>
<ul><li style="margin-bottom: 10px;"> Klotzbach, P. J., 2018: <a href="../Publications/sidebars/klotzbach_2018.pdf">Hurricane Irma: Rewriting the record books. </a> Bull. Amer. Meteor. Soc., 99, S136-S137. </li></ul>
<ul><li style="margin-bottom: 10px;"> Klotzbach, P. J., 2017: <a href="../Publications/sidebars/klotzbach_2017.pdf">Record-setting North Atlantic Hurricane Matthew. </a> Bull. Amer. Meteor. Soc., 98, S106-S107. </li></ul>
<ul><li style="margin-bottom: 10px;"> Klotzbach, P. J., and C. T. Fogarty, 2016: <a href="../Publications/sidebars/klotzbach_and_fogarty_2016.pdf">The record-shattering 2015 Northern Hemisphere tropical cyclone season. </a> Bull. Amer. Meteor. Soc., 97, S127-S128. </li></ul>
<ul><li style="margin-bottom: 10px;"> Klotzbach, P. J., and C. T. Fogarty, 2015: <a href="../Publications/sidebars/klotzbach_and_fogarty_2015.pdf">2013 vs. 2014 Atlantic hurricane activity: A brief comparison of two below-average seasons. </a> Bull. Amer. Meteor. Soc., 96, S104-S105. </li></ul>
<ul><li style="margin-bottom: 10px;"> Fogarty, C. T., and P. J. Klotzbach, 2014: <a href="../Publications/sidebars/fogarty_and_klotzbach_2014.pdf">The 2013 Atlantic basin hurricane season: Blip or flip? </a> Bull. Amer. Meteor. Soc., 95, S106-S107. </li></ul>


<h3>M. S. Thesis and Ph.D. Dissertation</h3>
<ul>
<ul><li style="margin-bottom: 10px;">Bell, M. M., 2010: <a href="../Publications/papers/Bell_NPS_PhD_2010.pdf">Air-sea enthalpy and momentum exchange at major hurricane wind speeds.</a> Ph. D. Dissertation, Naval Postgraduate School.</li></ul>
<ul><li style="margin-bottom: 10px;">Bell, M. M., 2006: <a href="../Publications/papers/Bell_CSU_MS_2006.pdf">Observed structure, evolution, and potential intensity of category five Hurricane Isabel (2003) from 12 - 14 September.</a> M. S. Thesis, Colorado State University.</li></ul>
</ul>



</html>
