<html>
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
</head>
<h3>United States Warning Centers</h3>
<ul>
  <li><a href="http://www.nhc.noaa.gov/" target="_blank">National Hurricane Center</a> – United States operational warning center for the North Atlantic and Northeast Pacific (to 140°W).</li>
  <li><a href="" target="_blank">Central Pacific Hurricane Center</a> – United States operational warning center for the North Central Pacific (from 140°W-180°).</li>
  <li><a href="" target="_blank">Joint Typhoon Warning Center</a> – United States warning center for the Northwest Pacific, the North Indian Ocean and the Southern Hemisphere.</li>
</ul>

<h3>Model Guidance</h3>
<ul>
  <li><a href="http://hurricanes.ral.ucar.edu/realtime/current/" target="_blank">NCAR Tropical Cyclone Guidance Project</a> – Real-time operational model output whenever tropical cyclones are active anywhere around the globe.</li>
  <li><a href="http://www.tropicaltidbits.com/" target="_blank">Tropical Tidbits</a> – Global forecast model output and real-time analysis tools.</li>
  <li><a href="http://www.atmos.albany.edu/facstaff/tang/tcguidance/index.php" target="_blank">SUNY-Albany (Brian Tang)</a> – Operational guidance as well as model trends and preliminary verification for active North Atlantic and Northeast Pacific tropical cyclones.</li>
</ul>

<h3>Satellite Analysis</h3>
<ul>
  <li><a href="http://rammb.cira.colostate.edu/products/tc_realtime/" target="_blank">Cooperative Institute for Research in the Atmosphere</a> – Extensive suite of satellite analysis tools.</li>
  <li><a href="http://www.nrlmry.navy.mil/TC.php" target="_blank">Naval Research Lab</a> – Wide array of satellite tools.</li>
  <li><a href="http://tropic.ssec.wisc.edu/" target="_blank">Cooperative Institute for Meteorological Satellite Studies</a> – Vast array of satellite platforms – also allows the ability to overlay satellite-analyzed shear over forecast model tracks of storms</li>
</ul>

<h3>Blogs</h3>
<ul>
  <li><a href="https://www.washingtonpost.com/news/capital-weather-gang/" target="_blank">Washington Post’s Capital Weather Gang</a> – Frequent blogs about tropical cyclones, especially during the Northern Hemisphere hurricane season.</li>
  <li><a href="http://bmcnoldy.blogspot.com/" target="_blank">Brian McNoldy (Univ. of Miami)</a> – Blogs on Atlantic tropical cyclones throughout the hurricane season.</li>
  <li><a href="https://www.wunderground.com/blog/JeffMasters/show.php" target="_blank">Weather Underground (Jeff Masters and Bob Henson)</a> – Frequent blogs about tropical cyclones when they are active anywhere around the globe.</li>
</ul>

<h3>Global Tropical Cyclone Statistics</h3>
<ul>
  <li><a href="http://climatlas.com/tropical/" target="_blank">Ryan Maue</a> – Real-time global Accumulated Cyclone Energy (ACE) tabulations, along with plots of historical ACE and hurricane frequency.</li>
</ul>

</html>
