<html>
<head>
<style>
figure {
  margin: auto;
  text-align: center;
}
figure img {
    vertical-align: top;
}
figure figcaption {
  background-color: white;
  color: black;
  padding: 2px;
  font-size:small;
  text-align: left;
}
</style>
</head>
<p>In 1984, Dr Bill Gray at Colorado State University documented that Atlantic hurricane activity responded to a variety of large-scale atmospheric and oceanic parameters spanning various portions of the globe. These large-scale factors interact with the global climate system in such a way that then alter the environment of the tropical Atlantic, where most major hurricanes develop and intensify. For example, hurricanes are more likely to develop when they traverse through an environment of low vertical wind shear (the change in wind direction and speed with height in the atmosphere), high sea surface temperatures and high mid-level moisture. Several parameters that have been documented to impact Atlantic hurricanes are discussed here in more detail. </p>

<h3> Atlantic Ocean Thermodynamics </h3>
<p> A warmer-than-normal tropical North Atlantic Ocean is known to typically create conditions more favorable for hurricane formation and intensification. In addition to enhancing latent and sensible heat fluxes that fuel tropical cyclones, a warmer tropical North Atlantic also drives lower pressures and reduced low-level trade winds, which also feed back to a more conducive environment for hurricanes. </p>

<p> It is important to note that the warming of the tropical North Atlantic Ocean also be measured relative to warming in other areas. One frequently utilized metric is relative sea surface temperature, which measures the difference between tropical North Atlantic Ocean sea surface temperatures and sea surface temperatures in the rest of the tropics (Vecchi et al. 2008). This index is important because it dictates where anomalous rising and sinking motion is likely to occur. When the tropical North Atlantic Ocean is anomalously warmer than the remainder of the tropics, anomalous rising motion is likely in this area, favoring enhanced tropical cyclone activity. </p>
<figure style="width:400px;float:right;margin:0px 20px">
  <img src="/images/factor_enso.jpg" alt="" />
  <figcaption>Averaged sea surface height anomalies measured by Jason 2 in the Pacific Ocean, observed at the beginning of October 2015. Credit: NASA</figcaption>
</figure>
<p>An additional index that is often utilized to assess the favorability of the tropical North Atlantic Ocean is the Atlantic Meridional Mode (AMM) (Kossin and Vimont 2007). The AMM assesses both the thermodynamic and dynamic state of the tropical North Atlantic Ocean through analysis of low-level winds as well as sea surface temperatures. A positive phase of the AMM is associated with a warmer tropical North Atlantic relative to the tropical South Atlantic, as well as with reduced trade winds in the tropical North Atlantic. Positive phases of the AMM are generally characterized by above-normal Atlantic hurricane activity. </p>

<h3> El Niño Southern Oscillation </h3>

<p>At the interannual timescale, the prime driver of Atlantic tropical cyclone variability is generally considered to be El Niño Southern Oscillation (ENSO). ENSO is driven by changes in ocean temperature in the tropical Pacific, where above average conditions (El Niño) in the Central and Eastern Pacific shift the convective activity in the tropical Pacific eastward, and modify the Walker cell throughout the tropics. The influence of ENSO on Atlantic tropical cyclone activity is well documented and is understood to occur mainly through local changes in vertical wind shear: during El Niño (La Niña) conditions, the eastward (westward) shift in convection in the tropical Pacific leads to anomalous upper-level westerlies (easterlies) over the Atlantic, which then increases (decreases) the vertical wind shear, thus decreasing (increasing) tropical cyclone activity. </p>

<figure style="width:400px;float:right;margin:0px 20px">
  <img src="/images/factor_dust.jpg" alt="" style="width:400px"/>
  <figcaption>Dust streaming from Mauritania, Senegal, western Sahara and maybe other countries farther East, and heading West toward South America and the Gulf of Mexico. Composite image made with data from VIIRS acquired by Aqua/MODIS on June 24, 2014. Credit: NASA</figcaption>
</figure>

<h3> Sahel Precipitation </h3>
<p> Changes in convective precipitation over the Sahel region has been shown to impact zonal winds in the upper-troposphere, which in turn modulate vertical wind shear over the Main Development Region and influence the conditions of cyclogenesis over the tropical Atlantic. It is possible that changes in the nature of the African Easterly Waves coming off the African continent might also be playing a role. Years with higher Sahel rainfall tend to be associated with more active hurricane seasons. The influence of the Sahel precipitation is mostly felt when the thermodynamical conditions over the tropical Atlantic are not conducive to hurricane formation. </p>

<h3> Saharan Dust </h3>

<p> Dust outbreaks from West Africa impact tropical cyclone activity by reducing Atlantic tropical sea surface temperatures ahead of the hurricane season. Episodes of dust outbreak are also associated with extremely dry air coming from the Sahara, another factor detrimental to cyclone formation. </p>

</html>
