<html>

  <link rel="stylesheet" href="../assets/css/main.css" />
  <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
</head>
<style>
.box header h2 {
                        margin-bottom: 2rem;
                }

.special header h2 + p {
								                font-size: 1.25rem;
								                margin-top: -15rem;
								        }
.button-space{
	border-radius: 0px 0px 0px 0px;
	line-height: 5rem;}

.align-justify {
    text-align: justify;
          }

.container_fig{
  width: 600px;
  margin-left: 0px;
  margin-right: auto;
}

.container_text {
	width: 100%;
  margin-left: 0px;
  margin-right: auto;
        }
</style>
<div class="inner">
<div class="box">
  <div class="content">

    <header class="left">
      <h2 id= {{entry.id}}> {{entry.title}} </h2>
    </header>

    <div class="container_fig">
      <div class="image left">
        <a href="#"><img src="{{ entry.image}}" alt="Figure" style="float:left" /></a>
      </div>
    </div>
    <div id="container_text">
      <h4> Group Members: <a href="{{ entry.url1}}" target="_blank"> {{ entry.member1}} </a>, <a href="{{ entry.url2}}" target="_blank"> {{ entry.member2 }}
        {% if entry.member3 != false %} <a href="{{ entry.url3}}" target="_blank">, {{ entry.member3}}</a> {% endif %}
        {% if entry.member4 != false %} <a href="{{ entry.url4}}" target="_blank">, {{ entry.member4}}</a> {% endif %}
        {% if entry.member5 != false %} <a href="{{ entry.url5}}" target="_blank">, {{ entry.member5}}</a> {% endif %}
      </a></h4>

      <p class="align-justify">{{ entry.description}} </p>
      <ul class="actions fit align-left button-space">
        {% if entry.oral != false %}<li><a href="{{ entry.oral}}" class="button alt small fit" style="margin-top: -55px; margin-left: 270px; width:60%" target="_blank"><i class="fas fa-external-link-alt"></i> Conference Presentation </a></li>{% endif %}
        {% if entry.poster != false %}<li><a href="{{ entry.poster}}" class="button alt small fit" style="margin-top: -55px; width:60%; margin-left: 150px;" target="_blank"><i class="fas fa-file-alt"></i> Poster Presentation </a></li>{% endif %}
        {% if entry.poster == false and entry.publication != false %}<li><a href="{{ entry.publication}}" class="button alt small fit" style="margin-top: -55px; width:60%; margin-left: 150px;" target="_blank"><i class="fas fa-link"></i> Publication </a></li>{% endif %}
        {% if entry.poster != false and entry.publication != false %}<li><a href="{{ entry.publication}}" class="button alt small fit" style="margin-top: -55px; width:60%; margin-left: 30px;" target="_blank"><i class="fas fa-link"></i> Publication </a></li>{% endif %}
      </ul>
    </div>
    <ul class="actions fit">
      {% for org in site.data.keywords %}{% if entry.keyword1 == org.id%}<li><a href="../keywords_projects/{{org.id}}" class="button special small fit" ><i class="fas fa-cloud-rain"></i>{{ entry.keyword1}}</a></li>{% endif %}{% endfor %}
      {% for org in site.data.keywords %}{% if entry.keyword2 == org.id%}<li><a href="../keywords_projects/{{org.id}}" class="button special small fit" ><i class="fas fa-cloud-rain"></i>{{ entry.keyword2}}</a></li>{% endif %}{% endfor %}
      {% for org in site.data.keywords %}{% if entry.keyword3 == org.id%}<li><a href="../keywords_projects/{{org.id}}" class="button special small fit" ><i class="fas fa-cloud-rain"></i>{{ entry.keyword3}}</a></li>{% endif %}{% endfor %}
      {% for org in site.data.keywords %}{% if entry.keyword4 == org.id%}<li><a href="../keywords_projects/{{org.id}}" class="button special small fit" ><i class="fas fa-cloud-rain"></i>{{ entry.keyword4}}</a></li>{% endif %}{% endfor %}
      {% for org in site.data.keywords %}{% if entry.keyword5 == org.id%}<li><a href="../keywords_projects/{{org.id}}" class="button special small fit" ><i class="fas fa-cloud-rain"></i>{{ entry.keyword5}}</a></li>{% endif %}{% endfor %}
    </ul>



  </div>
</div>
</div>
</html>
