<html>

  <link rel="stylesheet" href="../assets/css/main.css" />
  <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
</head>
<style>
.box header h2 {
                        margin-bottom: 2rem;
                }

.special header h2 + p {
								                font-size: 1.25rem;
								                margin-top: -15rem;
								        }
.button-space{
	border-radius: 0px 0px 0px 0px;
	line-height: 5rem;}

.align-justify {
    text-align: justify;
          }

.container_fig{
  width: 600px;
  margin-left: 0px;
  margin-right: auto;
}

.container_text {
	width: 100%;
  margin-left: 0px;
  margin-right: auto;
        }
        div.ex3 {

                  height: 330px;
                  overflow: auto;
                }
</style>
<div class="inner" style="z-index:-10;">
  <div class="box" style="z-index:-10;">
    <div class="content" style="z-index:-10000;">

      <header class="left">
        <h2 id= {{entry.id}}> {{entry.title}} </h2>
      </header>
      <div class="row">
      <div class="4u 12u$(medium) ex3">
        <div class="image fit">
          <a href="#"><img src="{{ entry.image}}" alt="Figure" style="float:left" /></a>
        </div>
      </div>

      <div class="8u$ 12u$(medium) ex3">
        <h4> Group Members: <a href="{{ entry.url1}}" target="_blank"> {{ entry.member1}} </a>, <a href="{{ entry.url2}}" target="_blank"> {{ entry.member2 }}
          {% if entry.member3 != false %} <a href="{{ entry.url3}}" target="_blank">, {{ entry.member3}}</a> {% endif %}
          {% if entry.member4 != false %} <a href="{{ entry.url4}}" target="_blank">, {{ entry.member4}}</a> {% endif %}
          {% if entry.member5 != false %} <a href="{{ entry.url5}}" target="_blank">, {{ entry.member5}}</a> {% endif %}
        </a></h4>
          <p class="align-justify">{{ entry.description}} </p>
          <ul class="actions">
            {% if entry.oral != false %}<li><a href="{{ entry.oral}}" class="button alt small fit" target="_blank"><i class="fas fa-external-link-alt"></i> Conference Presentation </a></li>{% endif %}
            {% if entry.poster != false %}<li><a href="{{ entry.poster}}" class="button alt small fit" target="_blank"><i class="fas fa-file-alt"></i> Poster Presentation </a></li>{% endif %}
            {% if entry.publication != false %}<li><a href="{{ entry.publication}}" class="button alt small fit" target="_blank"><i class="fas fa-link"></i> Publication </a></li>{% endif %}
          </ul>
      </div>
      </div>
      <hr>
      <div class="12u$ 12u$(small) align-center button-space">
      <ul class="actions fit" style="text-align:center;">

        {% for org in site.data.keywords %}{% if entry.keyword1 == org.id%}<li><a href="../keywords_projects/{{org.id}}.html" class="button special small fit" style="text-align:center;"><i class="fas fa-cloud-rain" style="margin-left:-6px"></i> {{entry.keyword1}} </a></li>{% endif %}{% endfor %}
        {% for org in site.data.keywords %}{% if entry.keyword2 == org.id%}<li><a href="../keywords_projects/{{org.id}}.html" class="button special small fit" style="text-align:center;"><i class="fas fa-cloud-rain" style="margin-left:-6px"></i> {{entry.keyword2}} </a></li>{% endif %}{% endfor %}
        {% for org in site.data.keywords %}{% if entry.keyword3 == org.id%}<li><a href="../keywords_projects/{{org.id}}.html" class="button special small fit" style="text-align:center;"><i class="fas fa-cloud-rain" style="margin-left:-6px"></i> {{entry.keyword3}} </a></li>{% endif %}{% endfor %}
        {% for org in site.data.keywords %}{% if entry.keyword4 == org.id%}<li><a href="../keywords_projects/{{org.id}}.html" class="button special small fit" style="text-align:center;"><i class="fas fa-cloud-rain" style="margin-left:-6px"></i> {{entry.keyword4}} </a></li>{% endif %}{% endfor %}
        {% for org in site.data.keywords %}{% if entry.keyword5 == org.id%}<li><a href="../keywords_projects/{{org.id}}.html" class="button special small fit" style="text-align:center;"><i class="fas fa-cloud-rain" style="margin-left:-6px"></i> {{entry.keyword5}} </a></li>{% endif %}{% endfor %}

      </ul>
      </div>




    </div>
  </div>
</div>
</html>
