<html>
<head>
<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
<style>
div.innerbox {
  border-style: solid;
  border-color: gray;
}
sup {
  font-size: x-small;
}
</style>
</head>
<div class="content">
  <header class="align-center" style="margin-top:-20px;margin-bottom:10px">
    <p style="font-size:xxsmall">TC genesis, track, and landfall maps</p>
    <h3 style="color:gray">Tropical Cyclone Track & Climatology</h3>
  </header>
  <br>
  <h4 class="align-center" style="font-size:24px">Animation: Monthly Atlantic TC Genesis Locations 1851-2019</h4>
  <figure class="center">
    <img src="/images/forecast/atlantic_namedstormformation_animation.gif" alt="North Atlantic Named Storms" style="width:800px;border: 1px solid #ddd;padding: 5px;"/>
  </figure>
  <br><br>
  <p class="align-center" style="color:black;font-size:18px;border: 2px solid #8a4680;padding: 5px;"><i class="fas fa-tools"></i> Under Construction <br> More to come! Check us back again! </p>
</div>

</html>
