<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="icon" href="/images/icon_TC.png">
		<script src="https://kit.fontawesome.com/8e44de192d.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/index.html"><i class="icon fa-home"></i></a> CSU Tropical Weather & Climate Research </div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index.html">Home</a></li>
					<li><a href="/research.html">Research</a></li>
					<li><a href="/research_group.html">Group members</a></li>
					<li><a href="/news.html">News</a></li>
				</ul>
			</nav>

{{ content }}

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="actions"><a href="http://www.atmos.colostate.edu/" class="button small" target="_blank"><i class="fas fa-link"></i> Department of Atmospheric Science</a></ul>
					<ul class="actions"><a href="https://www.engr.colostate.edu/" class="button alt small" target="_blank"><i class="fas fa-link"></i> Walter Scott, Jr. College of engineering</a></ul>
					<ul class="actions"><a href="https://www.colostate.edu/" class="button small" target="_blank"><i class="fas fa-link"></i> Colorado State University</a></ul>
				</div>
				<div class="copyright">
					&copy; 2020 Colorado State University, Fort Collins, Colorado 80523 USA
					<span class="image center"><img src="/images/CSU-Ram-Rev.png" alt="CSU logo" style="float:left;width:60px;height:60px;margin:20px" /></span>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
