---
layout: default
title: CSU Tropical Research Projects
---
<html>
<!-- Header -->
  <header id="header" class="alt">
    <div class="logo"><a href="/index.html"><i class="icon fa-home"></i></a> CSU Tropical Weather & Climate Research </div>
    <a href="#menu">Menu</a>
  </header>


<!-- Nav -->
  <nav id="menu" style="z-index:100000">
    <ul class="links">

      <li><a href="/index.html">Home</a></li>
      <li><a href="/news.html">News</a></li>
      <li><a href="/research_group.html">Team members</a></li>
      <li><a href="/forecasting.html">Forecasting</a></li>
      <li><a href="/research.html">Research</a></li>
      <li><a href="/publication.html">Publications</a></li>

    </ul>
  </nav>
</html>
<style>
.box header h2 {
                        margin-bottom: 2rem;
                }

.special header h2 + p {
								                font-size: 1.25rem;
								                margin-top: -15rem;
								        }
.button-space{
	border-radius: 0px 0px 0px 0px;
	line-height: 5rem;}

.align-justify {
    text-align: justify;
          }

.container_fig{
  width: 600px;
  margin-left: 0px;
  margin-right: auto;
}

.container_text {
	width: 100%;
  margin-left: 0px;
  margin-right: auto;
        }
</style>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Colorado State University</p>
						<h2>{{page.full_name}}</h2>
					</header>
				</div>
			</section>


      <!-- Two -->
      <section id="two" class="wrapper style2">

        <div class="inner">
            <header class="align-center">
              <h3> <b> {{page.title}} </b></h3>
            </header>
              <h4 class="align-justify"> {{page.description}} {% if page.notes != false %} {{page.notes}} {% endif %}</h4>
              <p class="align-center"> <i>Acknowledgement: {{page.acknowledgement}}</i></p>
              <hr>


          </div>
          {% for entry in site.data.research.index_card %}
          {% if entry.tcri == true and page.id == "tcri"%}

         {% include index_card.html %}
         {% endif %}
        {% endfor %}

        {% for entry in site.data.research.index_card %}
        {% if entry.career == true and page.id == "career"%}

        {% include index_card.html %}
        {% endif %}
      {% endfor %}

      {% for entry in site.data.research.index_card %}
      {% if entry.pecase == true and page.id == "pecase"%}
      {% include index_card.html %}
      {% endif %}
      {% endfor %}

    {% for entry in site.data.research.index_card %}
    {% if entry.remote == true and page.id == "remote"%}
    {% include index_card.html %}
    {% endif %}
    {% endfor %}

      {% for entry in site.data.research.index_card %}
      {% if entry.precip == true and page.id == "precip"%}
      {% include index_card.html %}
      {% endif %}
      {% endfor %}

    {% for entry in site.data.research.index_card %}
    {% if entry.forecast == true and page.id == "forecast"%}
    {% include index_card.html %}
    {% endif %}
    {% endfor %}

<div>
<ul class="actions fit">
  <center><li><a href="../research.html" class="button small fit"><i class="fas fa-step-backward"></i> Go back to Research page</a></li></center>
</ul>
</div>
      </section>
